@use "src/styles/constants/colors.scss";

.sideBarContainer {
  max-width: 180px;
  height: 100%;
  position: sticky;
  top: 50px;
  transition: 0.6s;
  margin-right: 15px;
}

@media (max-width: 768px) {
  .sideBarContainer {
    display: none;
  }
}

.sideBar {
  transition: 0.6s;
  padding-right: 13px;
}

@keyframes blink-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.noteData {
  animation: blink-animation 0.6s;
}
