@use "src/styles/constants/colors.scss";

.noteContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.noteBox {
  display: flex;
  height: auto;
  align-self: flex-start;
}

.note {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.borderBook {
  border-right: solid 2px colors.$TEAL;
}

.borderVideo {
  border-right: solid 2px colors.$ORANGE;
}
