.noteContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.noteBox {
  display: flex;
  height: auto;
  align-self: flex-start;
}

.note {
  width: 100%;
  display: flex;
  flex-direction: column;
}
