@use "src/styles/constants/colors.scss";

.container {
  position: relative;
  max-width: 800px;
  padding: 25px;
  margin: 0 auto;
  border-bottom: 1px solid colors.$BORDER_PRIMARY;

  &:last-of-type {
    border: none;
  }
}

.date {
  position: absolute;
  right: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 300;
}
