@use "src/styles/constants/colors.scss";

.container {
  max-width: 800px;
  min-height: 100%;
  padding: 20px;
  margin: 0 auto;
}

.blogTitle {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  word-break: keep-all;
  line-height: 60px;

  h2 {
    font-size: 50px;
    font-weight: 600;
  }
  p {
    vertical-align: text-bottom;
    font-size: 20px;
  }
}

.categoryBox {
  border: 1px solid colors.$GRAY;
  margin: auto;
  padding: 10px;

  button {
    font-size: 18px;
    margin-right: 10px;
    letter-spacing: 1px;
    color: colors.$GRAY;
  }
  .focus {
    font-weight: 600;
    color: colors.$BLACK;
  }
}

.postBox {
  width: 200px;
  height: 50px;
  border: solid 1px colors.$BLUE;
  margin: 10px auto;
}
