$BLUE: #0080ff;
$WHITE: #eee;
$BLACK: #000;
$GRAY: #b7bab6;
$BLACK2: #363636;
$TEAL: #49beb7;
$ORANGE: #ff8a5c;

$BACKGROUND: #fff;

$BG_PRIMARY: #f8f9fa;
$BG_ELEMENT: #fafafa;

$TEXT_PRIMARY: #212529;

$BORDER: #ddd;
$BORDER_PRIMARY: #343a40;
$BORDER_SECONDARY: #adb5bd;

$PRIMARY: #76490d;

$CSS_COLOR: #0065f4;
$HTML_COLOR: #e44d26;
$JAVASCRIPT_COLOR: #ffdf00;
$REACT_COLOR: #5adafd;
$TYPESCRIPT_COLOR: #0078cf;
$STORYBOOK_COLOR: #ff4785;
$SASS_COLOR: #cd6699;
