$BLUE: #0080ff;
$SKYBLUE: #add8e6;
$WHITE: #eee;
$BLACK: #000;
$GRAY: #b7bab6;
$BLACK2: #363636;
$TEAL: #49beb7;
$ORANGE: #ff8a5c;

$RECORD: #39d353;
$CHECK: #ff4c4c;

$BACKGROUND: #fff;

$BG_ELEMENT: #f4f9ff;

$TEXT_PRIMARY: #212529;

$BORDER: #ddd;
$BORDER_PRIMARY: #343a40;
$BORDER_SECONDARY: #adb5bd;

$LINK: #5aaaff;

$PRIMARY: #9acbff;

$TH_BACKGROUND: #e8f3ff;
$TD_BACKGROUND: #fcfdff;

$CSS_COLOR: #0065f4;
$HTML_COLOR: #e44d26;
$JAVASCRIPT_COLOR: #f7df1e;
$REACT_COLOR: #61dbfb;
$TYPESCRIPT_COLOR: #0078cf;
$STORYBOOK_COLOR: #ff4785;
$SASS_COLOR: #cd6699;
$PYTHON_COLOR: #3773a5;
$REACT_NATIVE_COLOR: #05a0ca;
$WHATEVER_COLOR: #285ef6;
