@use "src/styles/constants/colors.scss";

.noteContainer {
  max-width: 800px;
  padding: 20px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.noteBox {
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
}

.noteTitle {
  max-width: 800px;
  height: auto;

  .title {
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid colors.$BORDER;

    h1 {
      font-size: 50px;
      font-weight: 600;
      margin: auto auto 30px auto;
    }
    p {
      min-height: 45px;
      font-size: 21px;
      line-height: 30px;
      vertical-align: text-bottom;
    }
  }
}

.note {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 10px 0 20px 0;
}

.noteData {
  width: 100%;
  height: 42px;
  padding: 5px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}

.noteData:hover {
  background-color: colors.$TH_BACKGROUND;

  .noteName {
    color: colors.$BLUE;
    transform: translateX(10px);
  }

  .noteStart {
    min-width: 40.8px;
    color: colors.$CSS_COLOR;
    white-space: nowrap;
  }

  .noteEnd {
    min-width: 40.8px;
    color: colors.$HTML_COLOR;
    white-space: nowrap;
  }

  .day {
    color: colors.$BLACK;
  }
}

.noteName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  transition: transform 0.3s ease;
}

.noteDateBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.noteDate {
  color: colors.$GRAY;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noteStart {
  min-width: 40.8px;
  white-space: nowrap;
}

.noteEnd {
  min-width: 40.8px;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .borderBook,
  .borderVideo {
    border-width: 0;
    transition: none;
  }
  .noteDropDownBox {
    flex-direction: column;
  }
}
