@use "src/styles/constants/colors.scss";

$mobile-max: 360px;
$tablet-min: 780px;
$desktop-min: 1024px;

@mixin mobile {
  @media (max-width: $mobile-max) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: $tablet-min) and (min-width: $mobile-max) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $desktop-min) {
    @content;
  }
}

.container {
  max-width: 800px;
  min-height: 100%;
  padding: 20px;
  margin: 0 auto;
  word-break: keep-all;
}

.blogTitle {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;

  h1 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  p {
    min-height: 45px;
    font-size: 20px;
    line-height: 30px;
    vertical-align: text-bottom;
  }
}

.categoryBox {
  border: 1px solid colors.$GRAY;
  margin: 5px auto 20px auto;
  padding: 10px;
  &:hover {
    border: 1px solid colors.$BLACK;
  }

  button {
    font-size: 18px;
    margin-right: 10px;
    letter-spacing: 1px;
    color: colors.$GRAY;
    &:hover {
      color: colors.$BLACK;
    }
  }
  .focus {
    font-weight: 600;
    color: colors.$BLACK;
  }
}

.postBox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.postItem {
  width: 370px;
  height: 150px;
  border: solid 1px colors.$GRAY;
  margin: 10px 0;
  display: flex;

  @include tablet {
    width: 100%;
  }

  @include mobile() {
    width: 100%;
  }

  &:hover {
    border: solid 1px colors.$BLACK;
    img {
      border: solid 1px colors.$BLACK;
    }
  }
}

.imgBox {
  min-width: 130px;
  height: 130px;
  margin: auto 10px;
  border: 1px solid colors.$GRAY;

  @include mobile() {
    display: none;
  }
}

.descBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 7px 10px auto;

  @include mobile() {
    margin: 10px 7px;
  }

  .title {
    width: 211px;
    max-height: 50px;
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    @include tablet {
      width: 100%;
    }

    @include mobile() {
      width: 100%;
    }
  }

  .dateBox {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    align-items: center;

    .category {
      font-size: 15px;
      font-weight: 400;
      color: colors.$BACKGROUND;
      padding: 4px;
    }
    .date {
      text-align: right;
      color: colors.$BORDER_SECONDARY;
    }
  }

  .desc {
    font-size: 14px;
    margin: auto 0;
    overflow: hidden;
    line-height: 18px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.default {
  background: colors.$BLACK;
}

.CSS {
  background: colors.$CSS_COLOR;
}

.HTML {
  background: colors.$HTML_COLOR;
}

.JavaScript {
  background: colors.$JAVASCRIPT_COLOR;
}

.React {
  background: colors.$REACT_COLOR;
}

.TypeScript {
  background: colors.$TYPESCRIPT_COLOR;
}

.Storybook {
  background: colors.$STORYBOOK_COLOR;
}

.SASS {
  background: colors.$SASS_COLOR;
}

.Python {
  background: colors.$PYTHON_COLOR;
}

.React-Native {
  background: colors.$REACT_NATIVE_COLOR;
}

.Whatever {
  background: colors.$WHATEVER_COLOR;
}
