.container {
  width: 100%;
  min-height: calc(100vh - 9.1rem);
  margin: auto;
  a {
    text-decoration: none;
    outline: none;

     a:hover,
    a:active {
      text-decoration: none;
    }
  }
}
