.container {
  width: 100%;
  min-height: calc(100vh - 5.1rem);
  padding-top: 49px;
  margin: auto;

  a {
    text-decoration: none;
    outline: none;

     a:hover,
    a:active {
      text-decoration: none;
    }
  }
}
