@use "src/styles/constants/colors.scss";

.tocContainer {
  width: 300px;
  height: 100%;
  position: sticky;
  top: 130px;
  margin: 130px auto auto 60px;

  @media (max-width: 1250px) {
    display: none;
  }
}

.toc {
  height: 100%;
  padding: 15px;
  box-sizing: border-box;

  div {
    font-weight: 600;
    margin-bottom: 15px;
    padding-left: 12px;
  }

  a {
    height: 100%;
    display: flex;
    margin-bottom: 6px;
    font-size: 13px;
    color: colors.$GRAY;
  }
}

a.active {
  color: colors.$BLUE;
  border-left: 1px solid colors.$BORDER;
}

.mainHead {
  padding: 2px 0 2px 12px;
}

.subHead {
  padding: 2px 0 2px 30px;
}
