@use "src/styles/constants/colors.scss";

.dropDownContainer {
  width: 374px;
  margin-bottom: 20px;
}

.dropDownTitle {
  font-size: 26px;
  font-weight: 600;
  padding-bottom: 10px;
}

.dropDownBox {
  display: flex;
}

.dropDown {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    height: 20px;
    path {
      transform: translateY(10px);
    }
  }

  p {
    font-size: 20px;
    font-weight: 600;
    padding-right: 10px;
  }
}

.bookColor {
  color: colors.$TEAL;
  fill: colors.$TEAL;
}

.videoColor {
  color: colors.$ORANGE;
  fill: colors.$ORANGE;
}

.noteItem {
  color: colors.$BORDER_PRIMARY;
  font-weight: 600;
  padding: 10px 0 0 0;
  font-size: 15px;
}

.bookHover {
  :hover {
    color: colors.$TEAL;
  }
}

.videoHover {
  :hover {
    color: colors.$ORANGE;
  }
}
