@use "src/styles/constants/colors.scss";

.dropDownContainer {
  max-width: 375px;
  margin-bottom: 20px;
}

.dropDownTitle {
  font-size: 22px;
  font-weight: 600;
}

.dropDownBox {
  display: flex;
}

.dropDown {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    height: 20px;
    margin-left: 5px;
    path {
      transform: translateY(10px);
    }
  }

  p {
    font-size: 16px;
    font-weight: 600;
  }
}

.bookColor {
  color: colors.$TEAL;
  fill: colors.$TEAL;
}

.videoColor {
  color: colors.$ORANGE;
  fill: colors.$ORANGE;
}

.noteItem {
  margin-top: 7px;
  color: colors.$BORDER_PRIMARY;
  font-weight: 600;
}

.bookHover {
  :hover {
    color: colors.$TEAL;
  }
}

.videoHover {
  :hover {
    color: colors.$ORANGE;
  }
}
