@use "src/styles/constants/colors.scss";

.noteContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.noteBox {
  height: auto;
  display: flex;
  align-self: flex-start;
}

.noteInfo {
  width: 100%;
  height: 100%;
  display: flex;

  div {
    max-width: 800px;
    height: 2000px;
  }
}

.borderBook {
  border-left: solid 2px colors.$TEAL;
}

.borderVideo {
  border-left: solid 2px colors.$ORANGE;
}
