@use "src/styles/constants/colors.scss";

.container {
  margin: 40px 0;
  white-space: pre-line;
  word-break: keep-all;

  p {
    font-weight: 300;
    line-height: 2;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 10px 0;
  }

  h1 {
    font-size: 36px;
    line-height: 42px;
  }

  h2 {
    font-size: 30px;
    color: colors.$LINK;
    text-align: center;
    line-height: 40px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 22px;
  }

  h6 {
    font-size: 20px;
  }

  strong {
    font-weight: 600;
    font-size: 18px;
    color: colors.$BLUE;
  }

  em {
    font-style: italic;
  }

  s {
    text-decoration: line-through;
  }

  mark {
    background-color: colors.$BG_ELEMENT;
  }

  hr {
    border: 1px solid colors.$PRIMARY;
  }

  a {
    border-bottom: 1px solid;
    transition: 0.2s;
    &:hover {
      color: colors.$LINK;
    }
  }

  blockquote {
    padding: 0 16px;
    background-color: colors.$BG_ELEMENT;
    border-left: 4px solid colors.$PRIMARY;
    border-radius: 4px;
  }

  ul,
  ol {
    position: relative;
    left: 12px;
    padding-left: 16px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: normal;
  }

  li {
    font-weight: 300;
    line-height: 2;
  }

  pre,
  code {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    overflow: scroll;
  }

  pre {
    font-size: 14px;
  }

  p code,
  li code {
    padding: 2px 4px;
    white-space: pre-wrap;
    background: rgba(0, 128, 255, 0.15);
    border-radius: 4px;
    margin: 1px;
    color: colors.$BLUE;
    font-weight: 600;
  }

  table {
    text-align: center;

    th {
      padding: 10px 15px;
      font-size: 18px;
      background: colors.$TH_BACKGROUND;
      border: 1px solid colors.$BACKGROUND;
    }
    td {
      padding: 4px 12px;
      background: colors.$TD_BACKGROUND;
      border: 1px solid colors.$BACKGROUND;
      vertical-align: middle;
      line-height: 1.5;
    }
  }
}
.imgBox {
  display: flex;
  justify-content: center;
  img {
    max-width: 100%;
    height: auto;
  }
}
