@use "src/styles/constants/colors.scss";

.container {
  margin: 40px 0;
  white-space: pre-line;
  word-break: keep-all;

  p {
    font-weight: 300;
    line-height: 2;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 10px 0;
    scroll-margin-top: 70px;
  }

  h2 {
    font-size: 30px;
    color: colors.$LINK;
    line-height: 42px;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 20px;
  }

  strong {
    font-weight: 600;
    font-size: 17px;
    color: colors.$BLUE;
  }

  em {
    font-style: italic;
  }

  s {
    text-decoration: line-through;
  }

  mark {
    background-color: colors.$BG_ELEMENT;
  }

  hr {
    border: 1px solid colors.$PRIMARY;
  }

  a {
    max-width: 100%;
    height: 28px;
    display: inline-block; /* 또는 block */
    white-space: nowrap; /* 한 줄로 표시 */
    overflow: hidden; /* 넘치는 부분 숨기기 */
    text-overflow: ellipsis; /* 넘치는 텍스트를 말줄임표로 표시 */
    box-sizing: border-box; /* padding과 border를 너비에 포함 */
    border-bottom: 1px solid;

    transition: 0.2s;
    &:hover {
      color: colors.$LINK;
    }
  }

  blockquote {
    padding: 0 16px;
    background-color: colors.$BG_ELEMENT;
    border-left: 4px solid colors.$PRIMARY;
    border-radius: 4px;
  }

  ul,
  ol {
    position: relative;
    left: 12px;
    padding-left: 16px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: normal;
  }

  li {
    font-weight: 300;
    line-height: 2;
    padding-right: 25px;
  }

  pre,
  code {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    overflow: scroll;
  }

  pre {
    font-size: 14px;
  }

  p code,
  li code {
    padding: 2px 4px;
    white-space: pre-wrap;
    background: rgba(0, 128, 255, 0.15);
    border-radius: 4px;
    margin: 1px;
    color: colors.$BLUE;
    font-weight: 600;
  }

  table {
    width: 100%;
    max-width: 100%;
    table-layout: auto; /* 테이블이 부모 컨테이너를 넘지 않도록 설정 */
    overflow-x: auto; /* 넘치는 경우 스크롤 발생 */
    text-align: center;

    th {
      padding: 10px 0;
      font-size: 18px;
      background: colors.$TH_BACKGROUND;
      border: 1px solid colors.$BACKGROUND;
    }
    td {
      padding: 4px 0;
      background: colors.$TD_BACKGROUND;
      border: 1px solid colors.$BACKGROUND;
      vertical-align: middle;
      line-height: 1.5;
    }
  }
}
.imgBox {
  display: flex;
  justify-content: center;
  img {
    max-width: 100%;
    height: auto; /* 이미지의 비율을 유지하면서 크기를 조절 */
    display: block; /* 인라인 요소의 특성으로 인한 여백 제거 */
    height: auto;
  }
}
