@use "src/styles/constants/colors.scss";

.container {
  max-width: 800px;
  height: 100%;
  margin: auto;
  padding: 25px 25px 5px 25px;
  text-align: center;
  word-break: keep-all;
  line-height: 55px;
  border-bottom: 1px solid colors.$BORDER;

  h1 {
    font-size: 36px;
    font-weight: 600;
  }

  span {
    font-size: 14px;
    color: colors.$GRAY;
  }
}
