@use "src/styles/constants/colors.scss";

.container {
  max-width: 800px;
  height: 100%;
  margin: auto;
  padding: 25px;
  font-size: 45px;
  font-weight: 400;
  text-align: center;
  word-break: keep-all;
  line-height: 55px;

  div {
    font-size: 18px;
    color: colors.$GRAY;
    line-height: 25px;
  }
}
